<div class="container">
    <div class="row">
        <ul class="nav nav-pills">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}"> <a class="nav-link" routerLink="/">Home</a></li>
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}"> <a class="nav-link" routerLink="blog">Blog</a></li>
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}"> <a class="nav-link" routerLink="about">About</a></li>
        </ul>
    </div>
</div>
<div class="text-center" style="margin-top: 10px; ">
  <router-outlet></router-outlet>
</div>
